* {
	margin: 0;
	padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Gochi+Hand&display=swap');


  

body{
	background-color: rgb(5, 1, 1);
	
}

h1{
	font-family: "Gochi Hand", cursive;
	color: aliceblue;

}

h3,h2,h4{
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: normal;
    color: #f2eded;
}
/* inicio estilos para el nav */

.navbar-brand img {
    max-height: 50px; 
    
}

.navbar-brand {
    font-family: "Gochi Hand", cursive;
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el logo y el texto */
}

/* Estilos para los enlaces del navbar */
.nav-link {
    font-family: "Gochi Hand", cursive;
    color: #f2eded !important; /* Forzar el color del texto de los enlaces */
}

.nav-link:hover {
    color: #040404 !important; 
}

/* responsive */
@media (max-width: 992px) {
   
}

/* Fin estilos para el nav */

/*inicio estilos footer*/
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #E6818D; /* Ajusta al color de tu preferencia */
    color: aliceblue; /* Ajusta al color de tu preferencia */
}

.footer-left, .footer-center, .footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-left {
    flex: 1; /* Ocupa el espacio disponible */
}

.footer-center {
    flex: 1; /* Ocupa el espacio disponible, asegura que el botón CTA esté centrado */
}

.footer-right {
    flex: 1; /* Ocupa el espacio disponible, distribuye los íconos de redes sociales */
    justify-content: flex-end; /* Alinea los íconos de redes sociales a la derecha */
}

.footer-right a img {
    width: 30px; /* Ajusta según el tamaño deseado para los íconos */
    margin-left: 10px; /* Espaciado entre íconos */
}

.cta-btn-ftr {
    padding: 10px 20px;
    background-color: #59A6D5; /* Ajusta al color de tu preferencia */
    color: #fff; /* Ajusta al color de tu preferencia */
    text-decoration: none;
    border-radius: 5px; /* Añade bordes redondeados al botón */
}

.cta-btn-ftr:hover {
    background-color: #B3F1A6; /* Ajusta para el efecto hover */
}





/*fin estilos footer*/

/*inicio estilo para listas*/
ul {
    list-style: disc;
    color: #E6818D;
    
}
/*fin estilo listas*/
/* inicio estilo botones CTA */
.ctaCenter{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.cta-btn {
	background-color: #59A6D5;
	color: rgb(243, 238, 238);
	padding: 15px 200px;
	text-decoration: none;
	 }
/* responsibe mobile */
@media (max-width: 768px) {
    .cta-btn {
        padding: 10px 50px; 
    }
}  

  .cta-btn:hover {
	background-color: #B3F1A6;
  }
/* fin estilo botones CTA */

/* inicio estilo formulario contacto */
form {
    width: 300px;
    border: 5px solid #ddd;
    padding: 50px;
    border-radius: 8px;
	
}

div {
    margin-bottom: 10px;
}

label {
    display: flex;
    margin-bottom: 8px;
	color: #f2eded;
	font-family: "Averia Serif Libre", serif;
    font-weight: 700;
  	font-style: normal;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    width: 100%;
	font-family: "Gochi Hand", cursive;
  	font-weight: 400;
  	font-style: normal;
}

button:hover {
    background-color: #45a049;
}

/* fin estilo formulario contacto */


/* inicio estilo cards del blog */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 #B3F1A6;
    transition: 0.3s;
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
}




.card h3 {
    margin: 10px 0;
	color: #f2eded;
}

.card p {
    color: #fcf7f8;
    padding: 0 15px 15px;
}

/* Efecto al pasar el mouse sobre las tarjetas */
.card:hover {
    box-shadow: 0 10px 20px 0 #B3F1A6;
}
/* fin estilo cards del blog */