// Estilos específicos para el pie de página


.footer-container {
  @include flexbox(space-between, center, row); // Utiliza tu mixin aquí
  padding: 20px;
  background-color: map-get($colors, 'secondary');
  color: map-get($colors, 'light'); 
}

  
  .footer-left,
  .footer-center,
  .footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; // Ocupa el espacio disponible
  }
  
  .footer-right {
    justify-content: flex-end; // Alinea los íconos de redes sociales a la derecha
  }
  
  .footer-right a img {
    width: 30px; // Ajusta según el tamaño deseado para los íconos
    margin-left: 10px; // Espaciado entre íconos
  }
  .cta-btn-ftr {
    @extend .btn;
      padding: 10px 40px !important;
      background-color: #59A6D5; 
      color: rgb(243, 238, 238);
      &:hover {
        background-color: #B3F1A6; // Ajusta para el efecto hover
      }
    }
  