// Estilos específicos para la navegación

.navbar-brand {
    img {
      max-height: 50px;
    }
  
    @include flexbox(start, center, row); 
    gap: 10px; // Espacio entre el logo y el texto
    font-family: "Gochi Hand", cursive;
  }
  
  .nav-link {
    font-family: "Gochi Hand", cursive;
    color: #f2eded !important; // Forzar el color del texto de los enlaces
  
    &:hover {
      color: #040404 !important; // Color al pasar el mouse
    }
  }
  
  // Media query para dispositivos con un ancho máximo de 992px
  @media (max-width: 992px) {
    
  }
  