// varibles aplicada a los colores


$colors: (
  primary: #59A6D5, // Azul claro para botones CTA y enlaces
  secondary: #E6818D, // Rosa para el fondo del footer
  alert: #B3F1A6, // Verde para alertas o highlights
  dark: #040404, // Negro para texto oscuro
  light: #f2eded, // Gris claro para fondos o texto claro
);